/***************header****************/
body{
    background-color: #EEEAEA;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    margin-top: 50px;
}

header{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color:ivory;
    position: fixed;
    top: 0;
    z-index: 100;
}

.fb-logo{
    height: 40px;
    width: 40px;
    padding-left: 15px;
    padding-top:5px ;
}

.search{
    background-color: #EEEAEA;
    width: 300px;
    height: 40px;
    margin-left: 1rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    

}

.search-icon{
    padding-left: 1rem;
}
.search-text input{
    padding-left: 1rem;
    border: none;
    background-color: transparent;
    outline: none;
}

::placeholder{
    font-size: larger;
}

.nav-btns{
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    padding-top: 1px;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
    width: 80px;
    height: 40px;
    margin-left: 15px;
    border-radius: 1rem;
   /* text-align: center;*/
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.icon:hover{
    height: 40px;
    width: 80px;
    background-color:#EEEAEA ;
    align-items: center;
    justify-content: center;
}


i{
    font-size: x-large;
    

}

i:active{
    background-color: rgb(45, 25, 226);
}

.right-btns{
    display: flex;
    flex-direction:row;
    margin-top: 5px;
    margin-left: 125px;
    
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #EEEAEA;
    margin-right: 15px;

    
}
.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

/***********main*********/

.main{
    display: flex;
    flex-direction: row;
    position: relative;
}

.left{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    overflow-y: auto;
    
}

.left-content{
    overflow-y: auto;
}

.left-content::-webkit-scrollbar {
    display: none;
}
.options{
    height: 40px;
    width: 80%;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 5%;  
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;
    align-items: center;
}

.options:hover{
    background-color: rgb(207, 204, 204);

}
.imgg{
    width: 30px;
    height: 30px;
    border-radius:100% ;
    padding-right: 1rem;
    margin-left: 0.5rem;
}

.left-icon{
    margin-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgb(68, 52, 110);
}
.options i{
    font-size: large;
}

.fa-bookmark{
    color: #d74;
}

.fa-calendar{
    color: rgb(180, 46, 41);
}

.fa-store{
    color: rgb(26, 206, 19);
}


.fa-droplet{
    color: red;
}


.options h3{
    font-size: 15px;
    color: rgb(82, 74, 70);
    margin-left: 5px;
}

/**************middle portion***************/
.centre{
    flex: 1;
    overflow-y: hidden;
}

.centre .centre-content{
    max-height: 100vh;
    overflow-y: auto;
}

.centre-content::-webkit-scrollbar {
    display: none;
}

.centre .story-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 15px;
    
}

.story{
    width: 120px;
    height: 200px;
    border-radius: 10px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
}

.story >img{
    height: 100%;
    transition: 0.3s ease-in;
}

.story:hover >img{
    transform: scale(1.05);
}

.dp-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    border: royalblue 3px solid;
}

.dp-container >img{
    width: 100%;
    height: 100%;
}

.name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.post{
    width: 550px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-left: 115px;
    margin-top: 20px;
}

.post-top{
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.post-top .dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.post-top .dp >img{
    width: 100%;
    cursor: pointer;
}

.post-top >input{
    height: 30px;
    padding: 5px 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    flex: 1;
    background: #eee;
    margin-left: 10px
}

.post-info{
    margin-left: 10px;
    font-weight: bold;
}

.post-info .name1{
    cursor: pointer;
    font-size: 16px;
    margin: 0;
}

.post-info .time{
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
}

.post-top i{
    margin-left: auto;
    cursor: pointer;
}

.post .post-content{
    font-size:16px;
    font-weight: normal;
    padding:10px;
}

.post .post-content >img{
    width: 100%;
    margin: 5px;
}

.post .post-bottom{
    box-shadow: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.post-bottom .action{
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.post .post-bottom .action:hover{
    background: #ddd;
}

.post.create .post-bottom >.action{
    color: #d74;
}

/*********Right section**********************/


.friend-section{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
    overflow-y: auto;
    height: 100vh;
}
.friend-section::-webkit-scrollbar{
    display: none;
} 

.list{
    width: 250px;
    height: 50px;
    background-color: transparent;
    margin-top: 10px;
    border-radius: 10%;
    display: flex;
    justify-content: flex-start;
     align-items: center; 
    
}


.list .dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

}

.list .dp >img{
    width: 100%;
    cursor: pointer;
}

.list:hover{
    background-color: #beb8b8;
}

.name2{
    margin-left: 10px;
}